# Python 캐시 파일
__pycache__/
*.pyc

# 가상환경, 환경변수
.venv/
.env
.env.dev
.env.prod
#####
# IDE, 시스템
.idea/
.DS_Store

# Alembic 무시
alembic.ini
src/alembic/__pycache__/
src/alembic/versions/__pycache__/
src/alembic/script.py.mako


src/database/__pycache__/
src/api/__pycache__/
src/schema/__pycache__/
src/service/__pycache__/


# 포함 예외
!src/alembic/
!src/alembic/env.py
!src/alembic/versions/
!src/alembic/versions/*.py
